spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/mchhub}
    username: ${DB_USERNAME:mchhub}
    password: ${DB_PASSWORD:mchhub}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    default-property-inclusion: non_null
    serialization:
      indent-output: true

server:
  port: ${PORT:8080}

mch:
  fileViewerBaseUrl: ${FILE_VIEWER_BASE_URL:https://example.com/file-manager}
